.calcTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
h1{
    color: white;
    font-size: 1.5rem;
}
.calculatorCont{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #031540;
}
#calculator{
    font-family: Arial, sans-serif;
    background-color: grey;
    border-radius: 2rem;
    max-width: 500px;
    overflow: hidden;
    box-shadow: 0 0 20px lightblue;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 1.5rem;
    text-align: left;
    border: none;
    background-color: black;
    color: white;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}
button{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50px;
    border: none;
    background-color: black;
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: lightblue;
}
button:active{
    background-color: rgb(94, 215, 255);
}
.operatorBtn{
    background-color: hsl(36, 100%, 60%);
}
.operatorBtn:hover{
    background-color: hsl(36, 100%, 50%);
}
.operatorBtn:active{
    background-color: hsl(36, 100%, 40%);
}

