* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Calibri', sans-serif;
}
html, body {
    height: -webkit-fill-available;
    overflow: hidden;
    max-resolution: ;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(243, 243, 243), rgb(0, 0, 0));
}
.header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: black;
}
.navbar a{
    font-size: 1.10rem;
    color: white;
    text-decoration: none;
    font-weight: bolder;
    margin-left: 1.5rem;
}
.navbar a:hover,
.navbar a.active {
    color: #00abf0;
}
#hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
}
#hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}
.open .mobile-menu {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    opacity: 100%;
    border-radius: 1rem;
}
.mobile-menu {
    display: none;
    position: absolute;
    top: 4rem;
    right: 0;
    width: 100%;
    background-color: #031540;
}
.mobile-menu a{
    color: white;
    justify-content: right;
    text-decoration: none;
}
  
.mobile-menu li {
    margin-bottom: 10px;
}
  
@media only screen and (max-width: 800px) {
    header nav {
    display: none;
    }
    
    #hamburger-icon {
    display: block;
    }
}
#logo{
    border-radius: 50%;
    height: auto;
    width: 2.5rem;
    cursor: pointer;
}
#logo:hover{
    text-decoration: none;
    box-shadow: 0 0 20px #00abf0;
}
.feedback-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 5%;
    gap: 1.5rem;
}
.feedback-left{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    background: rgba(0, 111, 238, 0.25);
    padding: 1.5rem;
    border-radius: 10%;
    width: 35%;
    gap: 1.5rem;
}
.feedback-left-title h2{
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: white;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}
.feedback-left-title hr{
    border: none;
    width: 13rem;
    height: 0.1rem;
    background: white;
    border-radius: 1rem;
    margin-bottom: 0.2rem;
}
.feedback-inputs{
    width: 100%;
    height: 2.5rem;
    border: none;
    outline: none;
    padding-left: 1.5rem;
    font-weight: 500;
    border-radius: 1rem;
}
.feedback-left textarea{
    height: 13rem;
    padding-top: 1rem;
    border-radius: 1rem;
}
.feedback-inputs:focus{
    border: 0.2rem solid lightblue;
}
.feedback-inputs::placeholder{
    color: #00abf0;
}
.feedback-left button{
    font-size: 1rem;
    display: flex;
    padding: 1rem 1.5rem;
    border: none;
    gap: 0.5rem;
    border-radius: 2rem;
    cursor: pointer;
    background-color: #00abf0;
    color: #fff;
    text-decoration: none;
    font-weight: bolder;
    box-shadow: 0 0 10px #00abf0;
}
.feedback-left button:hover{
    background-color: #00b7ff;
    box-shadow: 0 0 20px #00b7ff;
}
.feedback-left button:active{
    background-color: #00a1e0;
}
.feedback-right{
    position: relative;
    background: rgba(0, 111, 238, 0.25);     
    height: 20rem;
    width: 28rem;
    border-radius: 2rem;
    text-align: left;
    padding: 1rem;
    padding-left: 2rem;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    color: white;
    list-style-type: none;
}
.feedback-right h2{
    font-size: 2em;
    font-weight: bolder;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}
.feedback-right i{
    cursor: pointer;
}
.feedback-right i:hover{
    background-color: white;
    color: black;
    border-radius: 2rem;
}
@media only screen and (max-width: 800px){
    html, body {
        height: -webkit-fill-available;
        overflow: scroll;
        background-image: linear-gradient(rgb(0, 0, 0), rgb(243, 243, 243), rgb(0, 0, 0));
    }
    .feedback-container{
        position: relative;
        display: grid;
        align-items: center;
        justify-content: space-evenly;
    }
    .defHeader{
        height: 10%;
    }
    .feedback-left{
        display: flex;
        flex-direction: column;
        align-items: start;
        background: rgba(0, 111, 238, 0.25);
        padding: 2rem;
        border-radius: 0;
        height: 80%;
        width: 100%;
        gap: 1.5rem;
    }
    .feedback-left-title h2{
        font-weight: bold;
        font-size: 2rem;
        margin-bottom: 1.5rem;
        color: white;
    }
    .feedback-left-title hr{
        border: none;
        width: 13rem;
        height: 0.1rem;
        background: white;
        border-radius: 1rem;
    }
    .feedback-inputs{
        width: 100%;
        height: 3rem;
        border: none;
        outline: none;
        padding-left: 1.5rem;
        font-weight: 500;
        border-radius: 1rem;
    }
    .feedback-left textarea{
        height: 16rem;
        padding-top: 1rem;
        border-radius: 1rem;
    }
    .feedback-inputs:focus{
        border: 0.2rem solid lightblue;
    }
    .feedback-inputs::placeholder{
        color: #00abf0;
    }
    .feedback-left button{
        font-size: 0.75rem;
        display: flex;
        padding: 1rem 1.5rem;
        border: none;
        gap: 0.5rem;
        border-radius: 2rem;
        cursor: pointer;
        background-color: #00abf0;
        color: #fff;
        text-decoration: none;
        font-weight: bolder;
        box-shadow: 0 0 10px #00abf0;
    }
    .feedback-right{
        position: relative;   
        width: 100%;
        border-radius: 0;
        text-align: left;
        padding: 1rem;
        padding-left: 2rem;
        font-size: 1.15rem;
        letter-spacing: 0.1rem;
        color: white;
        list-style-type: none;
    }
    .feedback-right h2{
        font-size: 2em;
        font-weight: bolder;
    }
    .overflow-content {
        background-color: inherit;
    }
}