* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Calibri', sans-serif;
}
html, body {
    height: -webkit-fill-available;
    overflow: hidden;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.navbar a{
    font-size: 1.10rem;
    color: white;
    text-decoration: none;
    font-weight: bolder;
    margin-left: 1.5rem;
}
.navbar a:hover,
.navbar a.active {
    color: #00abf0;
}
#hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
}
#hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: white;
    outline: 1px solid black;
    margin: 6px 0;
    transition: 0.4s;
}
.open .mobile-menu {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    opacity: 100%;
    border-radius: 1rem;
}
.mobile-menu {
    display: none;
    position: absolute;
    top: 4rem;
    right: 0;
    width: 100%;
    background-color: #031540;
}
.mobile-menu a{
    color: white;
    justify-content: right;
    text-decoration: none;
}
  
.mobile-menu li {
    margin-bottom: 10px;
}
  
@media only screen and (max-width: 800px) {
    header nav {
    display: none;
    }
    
    #hamburger-icon {
    display: block;
    }
}
.defHeader{
    position: sticky;
    top: 0;
    width: 100%;
    height: 10%;
    background-color:rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    z-index: 0;
}
#logo{
    border-radius: 50%;
    height: auto;
    width: 2.5rem;
    cursor: pointer;
}
#logo:hover{
    text-decoration: none;
    box-shadow: 0 0 20px #00abf0;
}
.educationCont{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.educationCont h2{
    color: #00abf0;
    text-align: center;
}
.sscrlogo{ 
    position: fixed;
    left: 0;
    top: 0;
    opacity: 20%;
}
#gradpic{
    height: 40%;
    width: 30%;
    position: fixed;
    background-color: black;
    border-radius: 20px;
    right: 50vh;
    top: 22vh;
    outline: 1rem solid;
    animation: fadeIn 1s ease-in-out;
}
#gradpic1{
    height: 45%;
    width: 20%;
    position: fixed;
    border-radius: 20px;
    outline: 1rem solid;
    background-color: black;
    right: 10vh;
    top: 30vh;
    animation: fadeIn 2s ease-in-out;
}
#gradpic2{
    height: 45%;
    width: 30%;
    position: fixed;
    border-radius: 20px;
    outline: 1rem solid;
    background-color: black;
    right: 35vh;
    top: 44vh;
    animation: fadeIn 3s ease-in-out;
}
@keyframes fadeIn{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.educText{
    position: relative;
    color: white;
    background-color: black;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    align-content: center;
    width: 35%;
    max-width: 100%;
    font-size: 1.25rem;
    padding: 2rem;
    margin-left: 1rem;
    animation: fadeIn 1s ease-in-out;
}
.educText a{
    text-decoration: none;
    color: #00abf0;
}
.educText a:visited{
    color: grey;
}
.achiText{
    position: relative;
    color: white;
    background-color: black;
    border-bottom-right-radius: 20%;
    border-bottom-left-radius: 20%;
    align-content: center;
    width: 35%;
    max-width: 100%;
    font-size: 1.25rem;
    padding: 2rem;
    margin-left: 1rem;
    animation: fadeIn 1s ease-in-out;
}
.titleCont{
    text-align: center;
}
#educTitle{
    font-family: "Lobster", sans-serif;
    position: relative;
    margin: 0.5rem;
    font-size: 3rem;
    color: #00abf0;
    z-index: 1;
}
@media only screen and (max-width: 800px){
    html, body {
        height: -webkit-fill-available;
        overflow: scroll;
    }
    .educationCont{
        position: relative;
        display: grid;
        grid-template-columns: repeat(auto-fit or auto-fill, minmax(250px, 1fr));
        gap: 1rem;
    }
    .educationCont h2{
        color: #00abf0;
        text-align: center;
    }
    .sscrlogo{ 
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 100%;
        display: none;
    }
    #gradpic{
        width: 100%;
        position: static;
        background-color: black;
        border-radius: 0;
        right: 50vh;
        top: 0;
        outline: 0;
        animation: fadeIn 1s ease-in-out;
        z-index: 1;
    }
    #gradpic1{
        width: 100%;
        position: static;
        border-radius: 0;
        outline: 0;
        background-color: black;
        right: 0;
        top: 0;
        z-index: 1;
        animation: fadeIn 2s ease-in-out;
    }
    #gradpic2{
        width: 100%;
        position: static;
        border-radius: 0;
        outline: 0;
        background-color: black;
        right: 0;
        top: 0;
        z-index: 1;
        animation: fadeIn 3s ease-in-out;
    }
    @keyframes fadeIn{
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    .educText{
        position: relative;
        color: white;
        background-color: black;
        border-top-left-radius: 0%;
        border-top-right-radius: 0%;
        align-content: center;
        width: 100%;
        font-size: 1.25rem;
        padding: 2rem;
        margin-left: 0;
        animation: fadeIn 1s ease-in-out;
    }
    .educText a{
        text-decoration: none;
        color: #00abf0;
    }
    .educText a:visited{
        color: grey;
    }
    .achiText{
        position: relative;
        color: white;
        background-color: black;
        border-bottom-right-radius: 0%;
        border-bottom-left-radius: 0%;
        align-content: center;
        width: 100%;
        font-size: 1.25rem;
        padding: 2rem;
        margin-left: 0;
        animation: fadeIn 1s ease-in-out;
    }
    .titleCont{
        text-align: center;
    }
    #educTitle{
        font-family: "Lobster", sans-serif;
        position: relative;
        margin: 0.5rem;
        font-size: 3rem;
        color: #00abf0;
        z-index: 1;
    }
}