* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Calibri', sans-serif;
}
html, body {
    height: -webkit-fill-available;
    background-color: #031540;
    overflow-x: hidden;
}
img{
    display: block;
    width: 100%;
}
.header{
    position: sticky;
    width: 100vw;
    padding: 20px 10px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: black;
}
.navbar a{
    font-size: 1.10rem;
    color: white;
    text-decoration: none;
    font-weight: bolder;
    margin-left: 1.5rem;
}
.navbar a:hover,
.navbar a.active {
    color: #00abf0;
}
#hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
}
#hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}
.open .mobile-menu {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    opacity: 100%;
    border-radius: 1rem;
    z-index: 101;
}
.mobile-menu {
    display: none;
    position: absolute;
    top: 4rem;
    right: 0;
    width: 100%;
    background-color: #031540;
}
.mobile-menu a{
    color: white;
    justify-content: right;
    text-decoration: none;
}
  
.mobile-menu li {
    margin-bottom: 10px;
}
  
@media only screen and (max-width: 800px) {
    header nav {
    display: none;
    }
    
    #hamburger-icon {
    display: block;
    }
}
#logo{
    border-radius: 50%;
    height: auto;
    width: 2.5rem;
    cursor: pointer;
}
#logo:hover{
    text-decoration: none;
    box-shadow: 0 0 20px #00abf0;
}
.portContainer{
    background-color: black;
    position: relative;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
.portText{
    position: relative;
    background-color: #00abf0;
    color: black;
    border-radius: 10%;
    width: 35%;
    margin: auto;
    padding: 1.5rem;
    font-size: 1.20rem;
}
.portText h2{
    text-align: center;

}
#cs50{
    position: absolute;
    height: 70%;
    width: 25%;
    top: 8%;
    left: 2%;
    border-radius: 50px;
    opacity: 80%;
    animation: fadeIn 1s ease-in-out;
}
#cert{
    position: absolute;
    height: 60%;
    width: 20%;
    top: 30%;
    left: 8%;
    animation: fadeIn 2s ease-in-out;   
}
#brocode{
    position: absolute;
    height: 60%;
    width: 25%;
    top: 10%;
    right: 2%;
    opacity: 90%;
    border-radius: 50px;
    animation: fadeIn 1s ease-in-out
}
#mosh{
    position: absolute;
    height: 45%;
    width: 20%;
    top: 45%;
    right: 8%;
    opacity: 90%;
    border-radius: 50px;
    animation: fadeIn 2s ease-in-out
}
.portSamples{
    position: relative;
    width: 100vw;
    color: white;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    margin: 0;
    gap: 5rem;
    text-decoration: none;
}
.portSamples a{
    text-decoration: none;
}
.portSamples h3{
    text-decoration: none;
    color: white;
}
.portSamples img{
    background-color: white;
    height: 10rem;
    outline: none;
    border-radius: 20%;
    animation: fadeIn 2s ease-in-out;
}
.portSamples img:hover{
    box-shadow: 0 0 40px #00abf0;
    cursor: pointer;
}
#portSamplesTitle {
    color: white;
    text-align: center;
    background-color: #031540;
    font-size: 1.5em;
}
.backArrow{
    position: sticky;
    left: 0;
    top: 0;
    color: rgb(255, 187, 0);
    font-size: 2em;
    display: inline-block;
}
@media only screen and (max-width: 800px){
    .portText{
        position: relative;
        background-color: #00abf0;
        color: black;
        border-radius: 10%;
        width: 100%;
        margin: auto;
        font-size: 1.20rem;
    }
    .portText h2{
        text-align: center;
    
    }
    #cs50{ 
        display: none;
    }
    #cert{
        display: none;
    }
    #brocode{
        display: none;
    }
    #mosh{
        display: none;
    }
    .portSamples{
        position: relative;
        width: 100%;
        color: white;
        display: grid;

        margin: 1em;
        gap: 1em;
    }
    .portSamples{
        position: relative;
        width: 100vw;
        color: white;
        display: grid;
        align-items: center;
        justify-content: center;
        text-align: center;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        margin: 0;
        gap: 5rem;
        text-decoration: none;
    }
    .portSamples img{
        background-color: white;
        outline: none;
        border-radius: 20%;
        animation: fadeIn 2s ease-in-out;
    }
    .portSamples img:hover{
        box-shadow: 0 0 40px #00abf0;
        cursor: pointer;
    }
    #portSamplesTitle {
        color: white;
        text-align: center;
        background-color: #031540;
        font-size: 1.5em;
    }
    .backArrow{
        position: sticky;
        color: rgb(255, 187, 0);
        font-size: 2em;
        display: inline-block;
        top: 0;
        left: 0;
    }
}
@media only screen and (min-width: 801px){
    .portSamples h3{
        text-decoration: none;
        color: white;
        display: none;
    }
}