.rpgContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.rpgBox{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    background-color: #00abf0;
    width: 50%;
    padding: 2.5rem;
    border-radius: 15%;
    gap: 1.5rem;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
}
.rpgBox h2{
    position: relative;
    color: rgb(166, 255, 0);
    font-weight: bolder;
}
.rpgBox input[type="checkbox"]{
    position: relative;
    width: 1.5rem;
    height: 2rem;
    cursor: pointer;
}
.rpgBox input[type="number"] {
    position: relative;
    font-size: 1.5rem;
    width: 10rem;
}
.rpgBox button{
    position: relative;
    width: 15rem;
    outline: 1px solid black;
    cursor: pointer;
    font-weight: bold;
}
@media only screen and (max-width: 800px){
    .rpgContainer{
        position: relative;
        top: 10%;
    }
    .rpgBox{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        width: 100%;
        font-size: 0.8rem;
        border-radius: 0;
    }
}