* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Calibri', sans-serif;
}
html, body {
    height: -webkit-fill-available;
    overflow: hidden;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo {
    font-size: 25px;
    color: #031540;
    text-decoration: none;
    font-weight: 700;
}
.navbar a{
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: bolder;
    margin-left: 35px;
}
.navbar a:hover,
.navbar a.active {
    color: #00abf0;
}
.home{
    height: 100vh;
    background: linear-gradient(-50deg, rgb(0, 0, 0) 65%, white 35%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}
.defHeader{
    position: sticky;
    top: 0;
    width: 100%;
    height: 8%;
    background-color:rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}
.home-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    background: #00abf0;
    border-radius: 50%;
    border: 25px solid #fff;
    outline: 15px solid #031540;
}
.home-image img{
    border-radius: 50%;
    max-width: 400px;
    max-height: 400px;
}
.home-content{
    max-width: 600px;
    color: white;
    text-align: right;
}

.home-content h1{
    font-family: "Lobster", sans-serif;
    font-size: 40px;
    color: transparent;
    background-image: linear-gradient(#00abf0, #00abf0);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -410px 0;
    animation: animateText 3s linear infinite;
}
@keyframes animateText{
    0% 95%,100% {
        background-position: -410px 0;
    }
    65%, 85%{
        background-position: 0 0;
    }
}
.home-content p {
    font-size: 16px;
    margin-top: 20px;
}
.home-sci {
    margin: 25px 0 40px;
}
.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: black;
    border: 1px solid #031540;
    outline: 2px solid #031540;
    border-radius: 50%;
    font-size: 20px;
    color: lightblue;
    text-decoration: none;
    margin-left: 12px;
    transition: .5s;
}
.home-sci a:hover{
    background: #00abf0;
    color: #fff;
    border-color: #00abf0;
    box-shadow: 0 0 10px #00abf0;
}
.btn {
    padding: 12px 35px;
    background-color: #00abf0;
    border-radius: 40px;
    font-size: 17px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    box-shadow: 0 0 10px #00abf0;
}
.btn:hover{
    box-shadow: none;
}
#logo{
    border-radius: 50%;
    height: auto;
    width: 50px;
    cursor: pointer;
}
#logo:hover{
    text-decoration: none;
    box-shadow: 0 0 20px #00abf0;
}
.educationCont{
    height: 90vh;
    position: relative;
    animation: fadeIn 1s ease-in-out
}
.educationCont h2{
    color: #00abf0;
    text-align: center;
    
}
.sscrlogo{ 
    position: fixed;
    left: 0;
    top: 0;
    opacity: 20%;
}
#gradpic{
    max-height: 600px;
    max-width: 800px;
    position: fixed;
    background-color: black;
    border-radius: 20px;
    right: 50vh;
    top: 15vh;
    outline: 20px solid;
    animation: fadeIn 1s ease-in-out
}
#gradpic1{
    max-height: 600px;
    max-width: 800px;
    position: fixed;
    border-radius: 20px;
    outline: 20px solid;
    background-color: black;
    right: 10vh;
    top: 20vh;
    animation: fadeIn 2s ease-in-out
}
#gradpic2{
    max-height: 400px;
    max-width: 700px;
    position: fixed;
    border-radius: 20px;
    outline: 20px solid;
    background-color: black;
    right: 30vh;
    top: 55vh;
    animation: fadeIn 3s ease-in-out
}
@keyframes fadeIn{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.educText{
    position: absolute;
    color: white;
    background-color: black;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    align-content: center;
    height: 300px;
    width: 525px;
    top: 125px;
    left: 1vh;
    font-size: 22px;
    padding: 50px;
}
.educText a{
    text-decoration: none;
    color: #00abf0;
}
.educText a:visited{
    color: grey;
}
#educTitle{
    font-family: "Lobster", sans-serif;
    position: fixed;
    top: 100px;
    left: 1vh;
    margin-left: 20px;
    font-size: 58px;
    color: transparent;
    background-image: linear-gradient(#00abf0, #00abf0);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -600px 0;
    animation: animateText1 5s linear 1;
    animation-fill-mode: forwards;
}
@keyframes animateText1{
    65%, 85%{
    background-position: 0 0;
    }
    100%{
    color: #00abf0;
    }
}
.achiText{
    position: absolute;
    color: white;
    background-color: black;
    border-bottom-right-radius: 20%;
    border-bottom-left-radius: 20%;
    align-content: center;
    height: 400px;
    width: 525px;
    top: 450px;
    left: 1vh;
    font-size: 22px;
    padding: 50px;
}
.contactBg{
    position: relative;
    height: 92vh;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(243, 243, 243), rgb(0, 0, 0));
}
.feedback-container{    
    position: absolute;
    background: rgba(0, 111, 238, 0.25);
    top: 10vh;
    left: 10vh;
    height: 650px;
    width: 650px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.feedback-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.feedback-left-title h2{
    font-weight: 600;
    font-size: 50px;
    margin-bottom: 5px;
    color: white;
}
.feedback-left-title hr{
    border: none;
    width: 120px;
    height: 5px;
    background: white;
    border-radius: 10px;
    margin-bottom: 20px;
}
.feedback-inputs{
    width: 550px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    border-radius: 50px;
}
.feedback-left textarea{
    height: 250px;
    padding-top: 15px;
    border-radius: 20px;
}
.feedback-inputs:focus{
    border: 2px solid lightblue;
}
.feedback-inputs::placeholder{
    color: #00abf0;
}
.feedback-left button{
    font-size: 18px;
    display: flex;
    padding: 15px 30px;
    border: none;
    gap: 10px;
    border-radius: 50px;
    cursor: pointer;
    background-color: #00abf0;
    color: #fff;
    text-decoration: none;
    font-weight: bolder;
    box-shadow: 0 0 10px #00abf0;
}
.feedback-left button:hover{
    background-color: #00b7ff;
    box-shadow: 0 0 20px #00b7ff;
}
.feedback-left button:active{
    background-color: #00a1e0;
}
.feedback-right{
    position: absolute;
    background: rgba(0, 111, 238, 0.25);
    height: 350px;
    width: 450px;
    left: 70vh;
    top: 0vh;
    border-radius: 50px;
    text-align: left;
    padding: 30px;
    padding-left: 50px;
    font-size: 23px;
    letter-spacing: 1px;
    color: white;
    list-style-type: none;
}
.feedback-right h2{
    font-size: 2em;
    font-weight: bolder;
}
.feedback-right i{
    cursor: pointer;
}
.feedback-right i:hover{
    background-color: white;
    color: black;
    border-radius: 20px;
}
.portContainer{
    background-color: #00a1e0;
    position: relative;
    height: 63vh;
    width: 100%;
}
.portText{
    position: absolute;
    background-color: #031540;
    color: white;
    top: 48%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 500px;
    border-radius: 10%;
    padding: 25px;
    font-size: 23px;
}
.portText h2{
    text-align: center;

}
#cs50{
    position: absolute;
    max-width: 80%;
    max-height: 80%;
    top: 4%;
    left: 2%;
    border-radius: 50px;
    opacity: 80%;
    animation: fadeIn 1s ease-in-out
}
#cert{
    position: absolute;
    max-width: 60%;
    max-height: 60%;
    top: 35%;
    left: 8%;
    animation: fadeIn 2s ease-in-out
}
#brocode{
    position: absolute;
    max-width: 70%;
    max-height: 70%;
    top: 4%;
    left: 60%;
    opacity: 90%;
    border-radius: 50px;
    animation: fadeIn 1s ease-in-out
}
#mosh{
    position: absolute;
    top: 40%;
    right: 4%;
    max-width: 55%;
    max-height: 55%;
    opacity: 90%;
    border-radius: 50px;
    animation: fadeIn 2s ease-in-out
}
#collab{
    position: absolute;
    top: 6%;
    right: 4%;
    max-width: 55%;
    max-height: 55%;
    opacity: 90%;
    border-radius: 50px;
    animation: fadeIn 1s ease-in-out
}
.portSamples{
    position: relative;
    height: 25vh;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: #031540;
    color: white;
    display: flex;
    justify-content: center;
}
.portSamples img{
    background-color: white;
    width: 125px;
    height: 125px;
    outline: none;
    border-radius: 20%;
    margin: 50px;
    animation: fadeIn 2s ease-in-out
}
.portSamples img:hover{
    box-shadow: 0 0 40px #00abf0;
    cursor: pointer;
}
#portSamplesTitle {
    color: white;
    text-align: center;
    background-color: #031540;
    font-size: 1.5em;
}
.backBtn{
    position: absolute;
    color: blue;
    font-size: 33px;
    left: 2%;
}
.backArrow{
    position: absolute;
    color: blue;
    font-size: 2em;
    left: 0;
}