body{
    background-color: #031540;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    color: tomato;
    font-size: 2rem;
}
#weatherBack{
    width: 100%;
}
.weatherForm{
    margin: 0.2rem;
}
.cityInput{
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
    width: 15rem;
}
button[type="submit"]{
    padding: 10px 20px;
    font-weight: bold;
    font-size: 2rem;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.card{
    background: linear-gradient(180deg, blue, white);
    padding: 50px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 25px;

}
p{
    font-size: 1rem;
    margin: 5px 0;
}
.cityDisplay, .tempDisplay{
    font-size: 3rem;
    font-weight: bold;
    color: yellow;
    margin-bottom: 25px;
}
.humidityDisplay{
    font-weight: bold;
    margin-bottom: 25px;
}
.descDisplay{
    font-style: italic;
    font-weight: bold;
    font-size: 1.5rem;
}
.weatherEmoji{
    margin: 0;
    font-size: 7rem;
}
.errorDisplay{
    font-size: 2.5rem;
    font-weight: bold;
    color: black;
}

@media only screen and (max-width: 800px){
    h1{
        font-size: 2rem;
    }
    .cityInput{
        width: 100%;
        margin: 0;
    }
    button{
        width: 100%;
    }
}